:root {
    --primary-bg: #171717;
    --secondary-bg: #262626;
    --accent-bg: #4f46e5;

    --primary-color: #fff;
    --secondary-color: rgba(255,255,255, 70%);
    --accent-color: #818cf8;

    --border-color: rgba(255,255,255, 30%);
    
    --username-size: 32px;
    --title-size: 28px;
    --subtitle: 24px;
}


