.show-btn {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: white;
  }
  
  @media (min-width: 800px) {
    .show-btn {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  
  .equal {
    grid-column-start: 4;
    grid-column-end: 6;
  }
  
  .btn:last-child {
    font-weight: medium;
    font-size: 40px;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #6dd5ed;
  }
  
  .clr {
    color: #d66d75;
  }
  
  .exp {
    color: #06beb6;
  }
  
  .btn {
    width: 60px;
    height: 60px;
    margin: 6px auto;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50%;
    background: none;
    border: 0px;
    user-select: none;
  }
  
  @media (min-width: 800px) {
    .btn:hover {
      background-color: #6dd5ed;
      color: white;
      transition: background-color 0.3s ease;
      border-radius: 50%;
    }
  
    .btn:active,
    .btn.touched {
      background-color: #48b1bf;
      color: white;
      transition: background-color 0.3s ease;
      border-radius: 50%;
    }
  
    .btn:active {
      transform: scale(0.9);
    }
  
    .btn.touched {
      pointer-events: none;
    }
  }
  
  @media (max-width: 800px) {
    .btn:active {
      transform: scale(0.9);
    }
  }

  /* calculaotr */
  .container {
    background-color: #dfe9f5;
    min-height: 40vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .main {
    border: 0px;
    box-shadow: 0px 0px 3px 0.5px #c4e0e5;
    border-radius: 10px;
    max-width: 500px;
  }
  
  @media (min-width: 800px) {
    .main {
      max-width: 400px;
    }
  }
  
  @media (max-width: 600px) {
    .main {
      width: 100%;
      height: 100%;
    }
  }
  /* display.css */
  .display {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 20px;
    background: linear-gradient(90deg, #06beb6, #48b1bf 100%);
  }
  
  @media (min-width: 800px) {
    .display {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  
  .expression {
    padding: 5px;
    margin-bottom: 10px;
    height: 50px;
  }
  
  .input,
  .value {
    padding: 10px;
    text-align: right;
    background-color: transparent;
    color: white;
    border: 0px;
    letter-spacing: 1.5px;
  }
  
  .input {
    font-size: 35px;
  }
  
  .value {
    font-size: 15px;
  }
  
  .input::placeholder,
  .value::placeholder {
    color: white;
  }
  
  .input:focus-visible,
  .value:focus-visible {
    outline-style: none;
    outline-width: 0px;
  }